<!DOCTYPE html>
<html>
    <head>
        <title>Cheminformatics Compounds</title></div>
    </head>
    <body>
        <center>
            <header>
        </div></header>
        </center>
{% extends 'compounds/base.html' %}
    {% block content %}
{% for compound in compounds %}

        <div class="p">
    <h2>{{ compound.IUPAC_name }}</h2>
            <time>
            Created: {{ compound.published_date }}
        </time>
    <p>Molecular Weight: {{ compound.molecular_weight }}</p>
    <p>Boiling Point: {{ compound.boiling_point }}</p>
    <p>Melting Point: {{ compound.melting_point }}</p>
    <p>Solubility: {{ compound.solubility }}<br><br></p>
      </div>  {% endfor %}
{% endblock %}
</div>


    </body>
</html>
